<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/public/css/index.css" >
</head>
<body>

<div id="mocktable" class="mock-table">
    <div>
        <input class="mock-len" type="text" placeholder="长度 20">
    </div>
     <div>
        <input class="mock-cate" type="text" placeholder="类型  ch|ma|en|ph|che|pe">
    </div>
    <div>
        <a class="mock-btn">生成</a>
    </div>
</div>

<div id="sorttable" class="sort-table-warp"></div>
<script type="text/javascript" src="/public/js/index.js"></script>
</body>
</html>
